
RewriteEngine on
RewriteCond %{HTTPS} off
RewriteCond %{HTTP:X-Forwarded-SSL} !on
RewriteCond %{HTTP_HOST} ^willortrust\.com$ [OR]
RewriteCond %{HTTP_HOST} ^www\.willortrust\.com$
RewriteRule ^/?$ "https\:\/\/willortrust\.com\/" [R=301,L]

